src/main/mule/sap-idoc-inbound-outbound.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:sap="http://www.mulesoft.org/schema/mule/sap" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd">

    <http:listener-config xmlns:http="http://www.mulesoft.org/schema/mule/http" name="customer-api-sap-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
		
	<configuration-properties doc:name="Configuration properties" doc:id="7a97d3f4-824c-40f1-b41f-f673f499caa2" file="mule-app.properties" />
	
	<sap:sap-config name="SAP_Config" doc:name="SAP Config" doc:id="432cbbb6-106b-48ea-8d60-29d138b78e68" >
		<sap:simple-connection-provider-connection applicationServerHost="${sap.jcoAsHost}" username="${sap.jcoUser}" password="${sap.jcoPasswd}" systemNumber="${sap.jcoSysnr}" client="${sap.jcoClient}" />
	</sap:sap-config>
	<flow name="sap-idoc-inbound" doc:id="81425972-b65d-4526-9704-f0df19a43105" >
		<sap:document-listener doc:name="Document listener" doc:id="244534ff-af5c-45e4-bca8-556f42e25d18" config-ref="SAP_Config" gatewayHost="${sap.jcoGwHost}" gatewayService="${sap.jcoGwService}" programID="${sap.jcoProgramId}"/>
		<logger level="INFO" doc:name="Logger - transaction ID" doc:id="43413cef-4b85-403b-8e46-660e63380fb9" message="#[attributes.transactionId]"/>
		<logger level="INFO" doc:name="Logger - payload" doc:id="f0ab8038-621c-46cc-96b4-27895fc66b88" message="#[payload]"/>
	</flow>
	<flow name="sap-idoc-outbound" doc:id="30fbfdc5-f58a-447b-ba4c-d7355cf6814e" >
		<http:listener doc:name="Listener" doc:id="1356c3c3-ffb5-415a-bc4f-2dc00f2f9475" config-ref="customer-api-sap-httpListenerConfig" path="/customer"/>
		<ee:transform doc:name="Transform Message" doc:id="f298881c-2d08-4201-89a3-362bd276e269" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	DEBMAS01: {
		IDOC: {
			EDI_DC40: {
				TABNAM: "EDI_DC40",
				DIRECT: "2",
				IDOCTYP: "DEBMAS01",
				MESTYP: "DEBMAS",
				SNDPOR: "MULE06_TP",
				SNDPRT: "LS",
				SNDPRN: "MULE06_LS",
				RCVPOR: "SAPIDP",
				RCVPRT: "LS",
				RCVPRN: "T90CLNT090"
			},
			E1KNA1M: {
				MSGFN: "004",
				KUNNR: "0000000716",
				KTOKD: "0001",
				LAND1: "US",
				NAME1: payload.DEBMAS01.IDOC.E1KNA1M.NAME1,
				NAME2: payload.DEBMAS01.IDOC.E1KNA1M.NAME2,
				NAME3: payload.DEBMAS01.IDOC.E1KNA1M.NAME3,
				ORT01: payload.DEBMAS01.IDOC.E1KNA1M.ORT01,
				PSTLZ: "94102",
				SORTL: payload.DEBMAS01.IDOC.E1KNA1M.SORTL,
				SPRAS: "E",
				LZONE: "0000000004",
				SPRAS_ISO: "EN"
			}
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger - payload" doc:id="1ca97414-93e2-4028-905c-5b90aaff95fc" message="#[payload]" />
		<sap:send key="DEBMAS01" doc:id="c580f8ec-1166-44ea-9c75-497916a6d4df" config-ref="SAP_Config" doc:name="Send IDoc" />
		<logger level="INFO" doc:name="Logger" doc:id="f5348004-8e7b-49e2-9c15-2615d8d9271e" message='#["IDoc sent to SAP"]' />
		</flow>
</mule>
